<div class="container my-5">
  <div class="row">
    <div class="col-12 col-md-8 col-xl-6">
      <h2><%= t('.change_profil') %></h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
            <%= f.input :first_name,
                        required: true,
                        label: t('.first_name'),
                        autofocus: true %>
            <%= f.input :last_name,
                        label: t('.last_name'),
                        required: true%>
            <%= f.input :location,
                        label: t('.origin_location'),
                        placeholder: "Forbach, Lorraine",
                        required: true%>
            <%= f.input :photo,
                        label: t('.add_photo'),
                        required: true%>
            <%= f.input :email,
                        required: true,
                        input_html: { autocomplete: "email" }%>
            <%= f.input :password,
                        required: true,
                        label: t('.password'),
                        hint: ("#{@minimum_password_length} charactères minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        label: t('.confirm_password'),
                        input_html: { autocomplete: "new-password" } %>
          </div>

        <div class="form-actions">
          <%= f.button :submit, t('.save_change'), class: "button-white" %>
        </div>
      <% end %>

      <h3>Supprimer mon compte</h3>

      <p>Vous ne voulez plus partager vos recettes? <%= link_to t('.click_here'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete %></p>

      <%= link_to t('.back'), :back, class: "button-white" %>
    </div>
  </div>
</div>
