<div class="recipes-map" id="map" data-moselle="<%= asset_path('carte-moselle.png') %>" data-icon="<%= asset_path('faience.png') %>">
</div>
<div class="recipes-container">
  <div class="recipes-header">
    <div class="app-container">
      <div>
        <%= form_tag recipes_path, class: "form-inline", method: :get do %>
          <%= text_field_tag :query, params[:query], class: "form-control, searchbar-white", placeholder: t('.enter_recipe_name')
          %>
          <%= submit_tag t('.search'), class: "button-search" %>
        <% end %>
      </div>
      <div class="recipes-filters">
        <div class="button-translucid"></div>
      </div>
    </div>
  </div>

  <div class="recipes-body">
    <div class="app-container">
      <div class="recipes-list">
        <% @recipes.each do |recipe| %>
          <%# 3.times do %>
          <div class="card-recipe">
            <%= link_to recipe_path(recipe) do %>
              <div class="card-recipe-img">
                <% if recipe.photo.attached? %>
                  <%= cl_image_tag recipe.photo.key, width: 160, height: 160, crop: :fill, alt: recipe.name%>
                <% else %>
                  <%= image_tag "https://g.foolcdn.com/editorial/images/167482/vegetables-colorful-array.jpg", width: 160, height: 160, alt: recipe.name, style: "object-fit: cover;"%>
                <% end %>
              </div>
              <%= cl_image_tag recipe.user.photo.key, alt: recipe.name, class: "avatar-large avatar-bordered"%>
              <div class="card-recipe-info">
                <h3><%= recipe.name %></h3>
                <p class="card-recipe-long-desc"><%= recipe.description %></p>
                <p class="card-recipe-short-desc"><%= t('.by', user: "#{recipe.user.first_name} #{recipe.user.last_name}") %></p>
              </div>
            <% end %>
          </div>
          <%# end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
