<div class="banner">
  <% if @recipe.photo.attached? %>
    <%= cl_image_tag @recipe.photo.key, angle: :ignore, alt: @recipe.name %>
  <% else %>
    <%= image_tag "https://g.foolcdn.com/editorial/images/167482/vegetables-colorful-array.jpg", alt: @recipe.name%>
  <% end %>
  <div class="banner-title">
    <h1><%= @recipe.name %></h1>
    <div class="banner-owner">
      <p><%= t('.by') %> <strong><%= @recipe.user.first_name %> <%= @recipe.user.last_name %></strong></p>
      <%= cl_image_tag @recipe.user.photo.key, alt: @recipe.user.last_name, class: 'avatar' %>
    </div>
    <div class="d-flex">
      <%= link_to t('.print_recipe'), recipe_path(@recipe), class: 'button-white'%>
      <% if current_user === @recipe.user %>
        <%= link_to t('.change'), edit_recipe_path(@recipe), class: 'button-white'%>
        <%= link_to t('.remove'), recipe_path(@recipe), data: { confirm: t('.are_you_sure') }, method: :delete, class: 'button-white'%>
      <% end %>
    </div>
  </div>
</div>
<div class="app-container">
  <div class="recipe">

    <div class="recipe-description">
      <h2><%= t('.about_recipe') %></h2>
      <p><%= @recipe.description %></p>
      <div class="recipe-description-figures">
        <p><%= t('.prep_time') %> <%= @recipe.prep_time %></p>
        <p><%= t('.cook_time') %> <%= @recipe.cook_time %></p>
        <p><%= t('.guests_amount') %> <%= @recipe.guests_amount %></p>
      </div>
    </div>
    <div class="recipe-ingredients">
      <h2><%= t('.ingredients') %></h2>
      <ul>
        <% @recipe.ingredient.each do |item| %>
          <li><%= item.split(':')[0] %><%= item.split(':')[1].nil? ? "" : ": #{item.split(':')[1]}" %></li>
        <% end %>
      </ul>
    </div>
    <div class="recipe-steps">
      <h2><%= t('.prep_step') %></h2>
      <ol>
        <% @recipe.prep_step.each do |step| %>
          <li><%= step %></li>
        <% end %>
      </ol>
    </div>
    <%= link_to t('.back_to_map'), recipes_path, class: 'button-white'%>
  </div>
</div>
