<div class="banner">
  <%= cl_image_tag @recipe.photo.key, alt: @recipe.name %>
  <div class="banner-title">
    <h1><%= @recipe.name %></h1>
    <div class="banner-owner">
      <p>Par <strong><%= @recipe.user.first_name %> <%= @recipe.user.last_name %></strong></p>
      <%= cl_image_tag @recipe.user.photo.key, alt: @recipe.user.last_name, class: 'avatar' %>
    </div>
    <div class="d-flex">
      <%= link_to "Imprimer la recette", recipe_path(@recipe), class: 'button-white'%>
      <% if current_user === @recipe.user %>
        <%= link_to "Modifier", edit_recipe_path(@recipe), class: 'button-white'%>
        <%= link_to "Supprimer", recipe_path(@recipe), data: { confirm: "Are you sure?" }, method: :delete, class: 'button-white'%>
      <% end %>
    </div>
  </div>
</div>
<div class="app-container">
  <div class="recipe">

    <div class="recipe-description">
      <h2>A propos de la recette</h2>
      <p><%= @recipe.description %></p>
      <div class="recipe-description-figures">
        <p>Temps de preparation: <%= @recipe.prep_time %></p>
        <p>Temps de cuisson: <%= @recipe.cook_time %></p>
        <p>Convives: <%= @recipe.guests_amount %></p>
      </div>
    </div>
    <div class="recipe-ingredients">
      <h2>Les ingédients</h2>
      <ul>
        <% @recipe.ingredient.each do |item| %>
          <li><%= item.split(':')[0] %><%= item.split(':')[1].nil? ? "" : ": #{item.split(':')[1]}" %></li>
        <% end %>
      </ul>
    </div>
    <div class="recipe-steps">
      <h2>Les étapes de la preparation</h2>
      <ol>
        <% @recipe.prep_step.each do |step| %>
          <li><%= step %></li>
        <% end %>
      </ol>
    </div>
    <%= link_to "Retour à la carte des recettes", recipes_path, class: 'button-white'%>
  </div>
</div>
