<div class="recipe-form">
  <h2 class="recipe-form-title"><%= title %></h2>
  <%= simple_form_for recipe, html: {class: 'recipe-form-content'} do |f| %>
      <%= f.error_notification %>
      <%= f.association :country, label: t('.what_country'), required: true %>
      <%= f.input :name, label: t('.recipe_title'), required: true %>
      <%= f.input :description, label: t('.description'), as: :text, :input_html => {:style => 'width: 100%', :rows => 3 }, required: true  %>
      <%= f.association :category, label: t('.dish_category'), required: true %>
      <%= f.input :prep_time, label: t('.prep_time'), required: true, as: :integer %>
      <%= f.input :cook_time, label: t('.cook_time'), required: true %>
      <%= f.input :guests_amount, label: t('.guests_amount'), required: true, collection: 1..10 %>
      <div class="form-group">
        <%= f.label t('.ingredients') %>
        <ul class="ingr-input">
        <%= f.input :ingredient, label: false, required: true, as: :array_ingredient %>
        </ul>
        <%= link_to t('.add_ingred'), "#", class: "d-inline-block new-ingr-btn" %>
      </div>
      <div class="form-group">
        <%= f.label t('.prep_step') %>
        <ol class="step-input">
        <%= f.input :prep_step, label: false, required: true, as: :array %>
        </ol>
        <%= link_to t('.add_step'), "#", class: "d-inline-block new-step-btn" %>
      </div>
      <%= f.input :photo, label: t('.add_photo'), required: true, hint: t('.photo_hint') %>
      <%= f.button :submit, value: t('.done'), class: 'button-white' %>
  <% end %>
</div>
