<div class="home-background">
  <div class="home-footer">
    <div>
      <%= t('.webpage_by') %><%= link_to "Yann Klein", "https://www.yannklein.me" %>
    </div>
    <div>
      <% if request.original_fullpath[0..2] != "/de" %>
        <%= link_to flag_icon(:de), "#{request.base_url}/de" %>
      <% else %>
        <%= link_to flag_icon(:fr), "#{request.base_url}" %>
      <% end %>
    </div>
  </div>
</div>
<div class="home-title">
  <h1><%= t('.title') %></h1>
  <p><%= t('.description') %></p>
  <div class="buttons">
    <%= link_to t('.share_recipe'), new_recipe_path, class: "button-white button-boxshadow" %>
    <%= link_to t('.find_recipe'), recipes_path, class: "button-white button-boxshadow" %>
  </div>
</div>
